body {

    background-color: beige;
}
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Set your preferred height */
    background-color: #3498db; /* Set your preferred background color */
    color: #fff; /* Set your preferred text color */
}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    font-size: 20pt;
    text-decoration: underline;
}

.image-container {

    text-align: center;
}

.styled-image {
    width: 500px;
    align-content: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    
    margin:auto;

    max-width: 500px;
    align-content: center;
    background-color: aqua;
}

.detailsList {

    font-family:Georgia, 'Times New Roman', Times, serif;

    line-height: 20pt;

    

    font-size: 12pt;

    
}




